* {
  box-sizing: border-box;
}

body {
  margin: 1rem;
  padding: 0;
  overflow: hidden;
  background-color: aliceblue;
}

.wrapper {
  margin: 0 auto;
  display: flex;
  width: fit-content;
}

#app {
  border: 1px solid;
}

.overlay {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  height: fit-content;
}

.overlay__square {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid;
}

.score_row {
  margin-bottom: 1rem;
  display: flex;
}

.score_row > div {
  flex-basis: 50%;
  flex-shrink: 0;
  text-align: center;
}

.title__value {
  font-weight: bold;
  font-size: 18px;
}

.score,
.max__score {
  display: flex;
  align-items: center;
}

/* WIND POWER */
.wind__power {
  text-align: center;
  align-items: center;
  font-weight: bold;
  width: 220px;
}

.wind__power-value {
  margin-top: 0.5rem;
  display: flex;
  width: 100%;
}
.wind__power .delimetr {
  margin: 0 4px;
}

.wind__power-value__left,
.wind__power-value__right {
  flex: 1;
  font-size: 18px;
  line-height: 16px;
  letter-spacing: -2px;
}

/* TIMER */

.timer {
  height: fit-content;
  margin-right: 1rem;
  text-align: center;
}

.timer__value {
  font-size: 22px;
}

/* CONTROLS */
.controls {
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translateX(-80%);
  top: 1rem;
}

/* UTILS */

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}
